/* styles.css */
body {
  background-color: rgb(213, 179, 247);
  display: flex;
  justify-content: space-around;
}

.loading {
  display: none; /* Hidden by default */
  font-size: 1.2em;
  color: #333;
}

form {
  margin: 20px;
}

.tempContainer {
  margin: 20px;
}
